* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.header-wrapper {
    position: fixed;
    z-index: 9999;
    background: rgb(30, 29, 29);
    color: white;
    font-weight: 200;
    font-size: 0.75em;
    height: 45px;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrapper ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.internal-wrapper {
    width:980px;
    padding: 0 10px;    /* up and down, right and left */
    margin: 0 auto;     /* auto puts it in the center of the browser */
}

.header-wrapper .header-links-wrapper ul li a {
    text-decoration:none;
    color: white;
}

.header-links-wrapper ul {
    list-style: none;
}

.header-wrapper .header-links-wrapper ul li {
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
}

.header-wrapper .header-links-wrapper ul li:hover {
    opacity: 1;
}   

.logo-link, .search-link, .cart-link {
    width: 18px;
    display: block;
}

.header-wrapper .header-links-wrapper ul li.logo-link, .cart-link, .search-link {
    padding: 12px 0 10px;
}




/* Main Highlight */

.main-highlight-wrapper{

    height: 600px;
    
    background-image:
    url("../images/pictures/hero_wwdc_teaser_startframe.jpg");

    background-repeat: no-repeat;

    background-position: center top;

    background-size: contain;

    background-color: black;

    position: relative;
}

.hero-content{

    position: absolute;

    bottom: 40px;
    line-height: 0.5;
    left: 50%;

    transform: translateX(-50%);

    text-align: center;

    color: white;

    width: 100%;
}

.model{
    font-size: 28px;
    margin-bottom: 15px;
}

.brief-description{
    font-size: 20px;
    margin-bottom: 25px;
}

.buttons-wrapper button{

    background: #0071e3;

    color: white;

    border: none;

    border-radius: 20px;

    padding: 12px 24px;

    font-size: 17px;

    cursor: pointer;
}



/* Second highlight */

.second-highlight-wrapper {
  background-image: url('../images/pictures/hero_iphone_17_pro\ \(2\).jpg'); /* adjust path */
  background-size: cover;        /* fills the entire section */
  background-position: center;   /* keeps image centered */
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;                 /* adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(204, 200, 200);
  text-align: center;
  padding: 40px 0;
}


.internal-wrapper {
  margin-bottom: 400px;
}


.title-wrapper {
  margin-bottom: 20px;
}



.buttons-wrapper button {
  padding: 12px 28px;
  margin: 0 10px;
  border: none;
  border-radius: 30px;           /* pill shape */
  font-size: 16px;
  cursor: pointer;
}

.title-wrapper h1{
    font-size: 50px;
}
.buttons-wrapper.btn-blue {
  background-color: #007BFF;
  color: white;
}

.buttons-wrapper .btn-black {
  background-color: transparent;
  color: #0071e3;
  border: 0.5px solid #537ca2;
}

.buttons-wrapper button:hover {
  opacity: 0.85;
}



/* Third highlight */

.third-highlight-wrapper {
    background-image: url('../images/pictures/hero_iphone_17\ \(2\).jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    padding: 65px 20px;
}

/* Fourth highlight*/

.fourth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}

.left-side-wrapper, .right-side-wrapper  {
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}

.fourth-highlight-wrapper .left-side-wrapper {
    background-image: url("../images/pictures/promo_college_students_2026.jpg");
}

.description-wrapper{
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
}

.fourth-highlight-wrapper .right-side-wrapper {
    background-image: url("../images/pictures/promo_macbook_air_m5.jpg")
}




/*fifth highlight */

.fifth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}



.fifth-highlight-wrapper .left-side-wrapper {
    background-image: url("../images/pictures/promo_ipad_air_m4.jpg");
}


.fifth-highlight-wrapper .right-side-wrapper {
    background-image: url("../images/pictures/promo_apple_watch_series_11.jpg")
}




/* sixth highlight */
.sixth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}



.sixth-highlight-wrapper .left-side-wrapper {
    background-image: url("../images/pictures/promo_apple_card_airpods.jpg");
}


.sixth-highlight-wrapper .right-side-wrapper {
    background-image: url("../images/pictures/promo_iphone_tradein.jpg")
}


/* Footer */

.footer-wrapper {

    background: #f5f5f7;
    color: #1d1d1f;
    font-size: 0.65em;
}

.upper-text-container {
    border-bottom: 1px solid #d2d2d7;
    color:#86868b;
    padding: 17px 0 20px;
}

.upper-text-container a {
    text-decoration: underline;
    color: #515154;
}

.footer-wrapper ol{
    padding-left: 20px;
}

.footer-links-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-wrapper ul {
    list-style: none;
    padding-bottom: 20px;
}

.footer-wrapper ul li {
    padding: 5px 0;
    font-size: 0.9em;
}

.footer-links-wrapper a {
    color: #515154;
    text-decoration: none;
}

.footer-links-wrapper a:hover {
    text-decoration: underline;
}

.footer-links-wrapper h3 {
    font-size: 12px;
    font-weight: 600;
}

.my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.copyright-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.footer-links-terms ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid  #ccc;
}

.footer-links-terms ul li:last-child {
    border-right: 0px;
}

.footer-links-terms ul li a {
    text-decoration: none;
    color: #515154;
}

.footer-links-terms ul li a:hover {
    text-decoration: underline;
}

.footer-country {
    display: inline-block;
}

.footer-country a {
    text-decoration: none;
    color:#1d1d1f;
}

.footer-country a:hover {
    text-decoration: underline;
}


